{% extends 'base/base.html' %}

<!-- Load from filter -->
{% load custom_filters %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mt-5">Carrito de Compras</h1>
            <div class="table-responsive mt-3">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for item in carrito %}
                        <tr>
                            <td class="align-middle"><img src="{{ item.producto.image.url }}" class="img-thumbnail" width="100" height="100"></td>
                            <td class="align-middle">{{ item.producto.name|truncatewords:6}}</td>
                            <td class="align-middle">${{ item.producto.price }}</td>
                            <td class="align-middle">
                                <form action="{% url 'actualizar_cantidad' id=item.id %}" method="post" class="d-flex">
                                    {% csrf_token %}
                                    <input type="number" name="cantidad" min="1" pattern="^[0-9]+" value="{{ item.cantidad }}" class="form-control me-2" style="width: 80px;">
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </form>
                            </td>
                            <td class="align-middle">${{ item.producto.price|multiply:item.cantidad }}</td>
                            <td class="align-middle">
                                <form action="{% url 'eliminar_carrito' id=item.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                {% if not carrito %}
                    <div class="card-body text-danger">
                        <strong class="text-center">Aun no haz agregado nada al carrito!!!</strong>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">Resumen de Pago</h5>
                    <p class="card-text " style="font-weight: bold;">SubTotal: ${{ total }}</p>
                    <p class="card-text " style="font-weight: bold;">IVA: ${{ total }}</p>
                    <p class="card-text " style="font-weight: bold;">Descuento: ${{ total }}</p>
                    <p class="" style="font-weight: bold;">Total: ${{ total }}</p>
                    <form action="{% url 'pay_shoppingCard' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Pagar Ahora</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

